.card-container {
  height: 180px;
  font-size: 200px;
  border: 1px solid black;
  border-radius: 5px;
}

.card-content {
  position: relative;
  top: -38px;
}

.pile {
  display: flex;
  flex-direction: column;
}

.tableau {
  display: flex;
  justify-content: space-between;
}

.game-container {
  margin-top: 50px;
}
